name: build-html

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install Nene
        run: python -m pip install nene==0.2.*

      - name: Build the website
        run: |
          cd web
          make

      - name: Set the CNAME file for our custom domain
        run: echo "agrogeophy.github.io" > web/_build/CNAME

      # Store the docs as a build artifact so we can deploy it later
      - name: Upload HTML documentation as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: docs-${{ github.sha }}
          path: web/_build/

  #############################################################################
  # Publish the documentation to gh-pages
  publish:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'release' || github.event_name == 'push'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Fetch the built docs from the "build" job
      - name: Download HTML documentation artifact
        uses: actions/download-artifact@v2
        with:
          name: docs-${{ github.sha }}
          path: web/_build/

      - name: Checkout the gh-pages branch in a separate folder
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
        with:
          ref: gh-pages
          # Checkout to this folder instead of the current one
          path: deploy
          # Download the entire history
          fetch-depth: 0

      - name: Push to gh-pages
        uses: peaceiris/actions-gh-pages@8a36f3edfc5d1cbae6b09e6f5a7d7b19e5b7a73b
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: web/_build/
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
